.photocard {
	display: flex;
	flex-flow: row wrap;
	gap: 1rem;
}

.list {
	max-width: 1000px;
	margin-inline: auto;
	padding-block: 2rem;
}

.heading {
	text-align: center;
}

body {
	background-color: #ccc;
}

.nav {
	display: flex;
	justify-content: center;
	gap: 2rem;
	margin-block-end: 3rem;
}
